.container {
  height: 100vh;
  display: flex;
  padding: 2rem;
  scroll-snap-align: start;
}

@media screen and (max-width: 576px) {
  .container {
    flex-wrap: wrap;
  }
  .right .left {
    margin-top: 2rem;
  }
}

.container h2 {
  color: var(--primary-color);
  margin-bottom: 0.8rem;
}
.container p {
  color: var(--gray-color);
}

.left {
  padding-right: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8rem;
  text-align: left;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8rem;
}

.imgContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.imgContainerLeft {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
